<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Document</title>

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>

    <!-- stylesheets -->
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet" />
</head>

<body>
    <div class="card px-4 py-3">
        <div class="card-header-custom d-md-flex justify-content-between align-items-center mb-2">
            <img class="rounded-circle border border-primary border-2 me-3" src="/data/1.jpeg" alt="">
            <div class="fw-semibold">
                <h5 class="card-title mb-2">Software Engineer</h5>
                <p class="card-text text-secondary">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque, voluptate?</p>
            </div>
        </div>
        <div class="d-flex justify-content-end align-items-center text-primary fw-semibold">
            <p>12 applicants</p>
            <p class="mx-2">.</p>
            <p>2 days left</p>
        </div>
        <div class="d-sm-flex justify-content-between">
            <button class="btn btn-primary btn-sm fw-semibold">apply</button>
            <button class="btn btn-primary btn-sm fw-semibold">details</button>
        </div>
    </div>
</body>

</html>