{% extends '../student_base.html' %}
{% load static %}

{% block content %}

    <section class="job-description container py-5">
        <h2 class="mb-4 fw-bolder text-warning">Job Description:</h2>
        <div class="d-flex flex-column flex-md-row w-100 justify-content-between align-items-center gap-2 my-2">
            <div class="job-title d-md-flex justify-content-start align-items-center mb-4">
                <div class="logo-container me-4">
                    <img class="rounded-circle border border-warning border-2 me-md-3" src="{{ job.company.logo.url }}" alt="">
                </div>
                <div class="fw-semibold">
                    <h5 class="title text-uppercase">{{ job.position | safe }}</h5>
                    <p class="text text-secondary">{{ job.description | safe }}</p>
                </div>
            </div>
            <form action="../../apply/{{ job.id | safe }}/" method="POST">
                {% csrf_token %}
                <button class="btn btn-warning fw-semibold px-5" type="SUBMIT">APPLY</button>
            </form>
        </div>
        <div class="job-desc-container">
            <div class="job-desc-grid row gy-3 gx-3 justify-content-lg-around ">
                <div class="job-applicant-count col-sm border border-gray d-flex align-items-center fw-bold me-sm-2">
                    <span>Applicants: </span>
                    <span class="applicant-count">{{ job.no_of_applicants | safe }}</span>
                </div>
                <div
                    class="job-deadline col-sm border border-gray d-flex flex-column justify-content-md-center me-sm-2">
                    <p>Deadline of application:</p>
                    <p class="fw-bold">{{ job.last_apply_date | safe }}</p>
                </div>
                <div class="job-skills col-sm border border-gray d-flex flex-column me-sm-2">
                    <p>Skills:</p>
                    <div class="job-skill-badges">
                        <span class="badge text-bg-warning">{{ job.requirements | safe }}</span>
                    </div>
                </div>
                <div class="job-info border border-gray col-md-12">
                    <div class="company-infor">
                        <h4>About Company</h4>
                        <p>{{ job.company.desc | safe }}</p>
                    </div>
                    <div class="offer-info">
                        <h4>About Offer</h4>
                        <p>{{ job.description | safe }}</p>
                    </div>
                    <div class="job-desc-links">
                        <h4>Link : 
                            click <a href="{{ job.company.web_link | safe }}">here</a> to go to company's web page.
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br><br>

    {% endblock content %}