{% extends '../base.html' %}
{% load static %}

{% block content %}

    <!-- sign up student -->
    <section class="student-login container d-flex flex-column align-items-center h-100">
        <h1 class="text-center py-5">Placement Officer Login</h1>
        <form class="p-4 p-md-5 border rounded-3 bg-light" method="POST">
            {% csrf_token %}
            <div class="form-floating mb-3">
                <input type="email" class="form-control" name="email" id="floatingInput" placeholder="name@example.com" required />
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password" required />
                <label for="floatingPassword">Password</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">
                Sign in
            </button>
        </form>
    </section>


{% endblock content %}