{% extends '../base.html' %}
{% load static %}

{% block content %}

<!-- about section -->
<section class="about-section container col-xl-10 col-xxl-8 px-4 py-5 text-start">
    <h1 class="display-4 fw-bold lh-1 mb-3">
        About
    </h1>
    <p class="fs-5 py-3">
        "Placement Management System", provides information to the students about the various ongoing placements and offers, while also keeping an up to date information about the students. It is a platform where students can view and access their opportunities. 
    </p>
    <p class="fs-5">
        The purpose of this system is to automate the existing manual system with the help of computer software and store the data entered for a longer time with ease of access. 
    </p>
    <h3>Features</h3>
    <ul>
        <li>Displays the information of ongoing placement drives.</li>
        <li>Main dashboard for students to apply for various offers.</li>
        <li>Main dashboard for the Placement Officer to share new placement offers.</li>
        <li>Students will be provided with a profile section, where they can upload and update their data as required by the company or the placement cell.</li>
        <li>Student placement status, the number of offers received and other activities can be tracked by the students and placement officer.</li>
        <li>Displays the statistics of the placed student companies which approached the college.</li>
    </ul>
</section>

{% endblock content %}