{% extends '../base.html' %}
{% load static %}

{% block content %}

<!-- home section -->
<section class="home-section container col-xl-10 col-xxl-8 px-4 py-5 text-center">
    <h1 class="display-4 fw-bold lh-1 mb-3">
        Placement Management System
    </h1>
    <p class="fs-4 pb-5">
        The purpose of this system is to automate the existing manual system with the help of computer software and store the data entered for a longer time with ease of access.
    </p>
    <div class="d-flex flex-column align-items-center">
        <a class="btn btn-warning mb-4" href="{% url 'student-login' %}">Student Login</a>
        <br>
        <a class="btn btn-warning mb-4" href="{% url 'tpo-login' %}">Placement Officer Login</a>
    </div>
</section>

{% endblock content %}